* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html, body {
    overflow: hidden;
}

p,span {
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
}

.black {
    color: #222;
}

.white {
    color: #fff;
}
